
    
<!DOCTYPE html>        
<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="topnav">
                <a href="/">Home</a>
                <a href="/newpost">New Post</a>
                <a href="/blog">Blog</a>
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
                <a href="/logout">Log Out</a>
            </div>
            {% block content %}
            {% for blog in blogs %}
                <h2>{{blog.title}}</h2>
                <p>{{blog.body}}</p>
            {% endfor %}
            {% endblock %}
    </body>
</html>

 



